.SliderBar .icon:hover::before {
  transform: scale(1.1);
}

.SliderBar .icon:hover {
  color: #818181;
  text-shadow: 0 0 5px #777777;
} 

.bgcolor{
  background-color: #f07171;
}


.bgcolor-100{
  background-color: #f37c7c;
}

.bgcolor-500{
  background-color: #e93535;
}


.text-bgcolor{
  color :#ef6061;
}

/* tiny-scrollbar.css */
.tiny-scrollbar::-webkit-scrollbar {
  width: 4px; /* scrollbar thickness */
}

.tiny-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.5);
  border-radius: 10px;
  height: 2px; /* makes the thumb shorter */
}

.tiny-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(120, 120, 120, 0.7);
}

.tiny-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
