@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}
button {
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.height-userlist{
  height: 76vh;
}

.text-height{
  height: 9vh;
}

.shadow-all-sides {
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

.height-of-msg {
  height: 79vh !important;  /* fills most of the viewport */
  padding-bottom: 1%;
  min-height: 400px


}

.sendmsg{
  width: 70%;

}

.sendmsg.shrink {
  width: 49% !important;  /* force override without breaking existing media queries */
}



/* For large desktops (1300px and above) */
@media (min-width: 1400px) {
  .height-of-msg {
    min-height: 80vh !important; 
    padding-bottom: 1%;
    min-height: 400px
  }

  .sendmsg{
    width: 72%;
  }

  .sendmsg.shrink {
  width: 50% !important;  /* force override without breaking existing media queries */
}

}

@media (max-width: 1299px) and (min-width: 768px) {
  .height-of-msg {
    height: 75vh !important;
    padding-bottom: 1.5%;
    min-height: 400px
  }

  .height-userlist{
    height: 70vh;
  }

   .sendmsg{
  width: 67%;

}

.sendmsg.shrink {
  width: 42% !important;  /* force override without breaking existing media queries */
}




}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Hide scrollbar but keep scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* for Internet Explorer, Edge */
  scrollbar-width: none;     /* for Firefox */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
