.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.height-userlist{
  height: 76vh;
}

.text-height{
  height: 9vh;
}

.shadow-all-sides {
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

.height-of-msg {
  height: 88vh;  /* fills most of the viewport */
      padding-bottom: 1%;


}

/* For large desktops (1300px and above) */
@media (min-width: 1400px) {
  .height-of-msg {
    height: 89vh; 
    padding-bottom: 1%;
  }
}

@media (max-width: 1299px) and (min-width: 768px) {
  .height-of-msg {
    height: screen;
    padding-bottom: 1.5%;
  }

  .height-userlist{
    height: 70vh;
  }

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Hide scrollbar but keep scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* for Internet Explorer, Edge */
  scrollbar-width: none;     /* for Firefox */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
